/* General Reset */
html, body {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    margin: 5px;
}

/* Container Styles */
#pdf-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 98vh;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Margins for Larger Screens */
@media (min-width: 1000px) {
    #pdf-container {
        margin-left: 25vw;
        margin-right: 25vw;
    }
}

/* Canvas Styles */
canvas {
    border: 1px solid black;
    margin: 1rem;
}

/* Button Container Styles */
.button-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

/* Download Button Styles */
.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.download-button:hover {
    background-color: #0056b3;
}

/* Custom Scrollbar Styles */
#pdf-container::-webkit-scrollbar {
    width: 10px;
}

#pdf-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

#pdf-container::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 10px;
}

#pdf-container::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
}

#pdf-container::-webkit-scrollbar-thumb:active {
    background-color: #003d7a;
}

/* Page Number Styles */
#page-num {
    text-align: center;
    position: relative;
    bottom: 4vh;
    font-size: 12px;
    font-weight: bold;
    height: 0.1px;
}